<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771854125098-8nibjg4aq47ojh32i1j2ms5km28bscgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771854125098-8nibjg4aq47ojh32i1j2ms5km28bscgt</string>
	<key>API_KEY</key>
	<string>AIzaSyDH4BbJ8kJINlkHY1XiiHN289ImAGHkkr8</string>
	<key>GCM_SENDER_ID</key>
	<string>771854125098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proHotelFullapps</string>
	<key>PROJECT_ID</key>
	<string>pro-hotel-codecanyon</string>
	<key>STORAGE_BUCKET</key>
	<string>pro-hotel-codecanyon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771854125098:ios:2e27c723779a0ff9435b53</string>
</dict>
</plist>